/*Default Setting Value*/

.middleText {
	text-align: center;
}

.defaultWidth{
	width: 700px;
}

/*Default Setting Value Ends*/

header {
	background-color: #ffd800;
	border: 1px solid black;
}


#wrap {
	background-color: lightblue;
	clear: both;
}

#content {
	width: 450px; 
	border: 1px solid red;
	overflow: hidden;
	float: left;
	background-color: lightblue;
}

#side_banner{
	/* float: left; */
	border: 1px solid red;
	float: left;
	background-color: lightblue;
}

footer {
	clear: both;
	background-color: #ffd800;
	border: 1px solid #808080;
}